Goal is to test out the best ways to manage loading data into a small database (using SQLite3) and handling duplicate records.

In [1]:
import sqlite3
import pandas as pd

In [2]:
db = sqlite3.connect('test.db')

In [4]:
# Create a cursor object
cur = db.cursor()

# 1. Use of Primary Keys

The intention of this section is to do some basic experimenting with primary keys and demonstrate their use before implementing any changes in my DB.

When a primary key isn't provided, it automatically adds the next sequential value.

In [15]:
# Create a simple table

cur.execute("CREATE TABLE airports (airportid INTEGER PRIMARY KEY, name text, city text, country text)")

# Create some sample data...
test_vals = [('LHR', 'London', 'UK'),('LGW', 'London', 'UK')]

# Load into database
for val in test_vals:
    cur.execute("INSERT INTO airports (name, city, country) VALUES "+ str(val))

In [17]:
cur.execute("SELECT * from airports")
output = cur.fetchall()
output

[(1, 'LHR', 'London', 'UK'), (2, 'GTW', 'London', 'UK')]

In [19]:
# Delete table to start again

cur.execute("DROP TABLE airports")

## Primary Key Based On Two Columns

Suppose we want to create a primary key based on the unqiue values of two columns

### Without primary keys

In [65]:
# Create a simple table

cur.execute("CREATE TABLE cars (make text, model text, inproduction boolean, year text)")

# Add in a few different values with duplicate make and model values

test_vals = [('Honda', 'Civic', True, '2022'),('Honda', 'CRX', False, '2022'),('Honda', 'Civic', True, '2021'),('Nissan', 'Altima', True, '2022')]

# Load into database
for val in test_vals:
    cur.execute("INSERT INTO cars (make, model, inproduction, year) VALUES "+ str(val))

In [66]:
cur.execute("SELECT * from cars")
output = cur.fetchall()
output

[('Honda', 'Civic', 1, '2022'),
 ('Honda', 'CRX', 0, '2022'),
 ('Honda', 'Civic', 1, '2021'),
 ('Nissan', 'Altima', 1, '2022')]

In [67]:
cur.execute("INSERT OR REPLACE INTO cars VALUES('Honda', 'Civic', 0,'2022');")

In [68]:
cur.execute("SELECT * from cars")
output = cur.fetchall()
output

[('Honda', 'Civic', 1, '2022'),
 ('Honda', 'CRX', 0, '2022'),
 ('Honda', 'Civic', 1, '2021'),
 ('Nissan', 'Altima', 1, '2022'),
 ('Honda', 'Civic', 0, '2022')]

Without a primary key, the value is duplicated rather than updated

In [69]:
cur.execute("DROP TABLE cars")

### With primary keys

In [70]:
# Create a simple table

cur.execute("CREATE TABLE cars (make text, model text, inproduction boolean, year text, PRIMARY KEY (make, model, year))")

# Add in a few different values with duplicate make and model values

test_vals = [('Honda', 'Civic', True, '2022'),('Honda', 'CRX', False, '2022'),('Honda', 'Civic', True, '2021'),('Nissan', 'Altima', True, '2022')]

# Load into database
for val in test_vals:
    cur.execute("INSERT INTO cars (make, model, inproduction, year) VALUES "+ str(val))

In [71]:
cur.execute("SELECT * from cars")
output = cur.fetchall()
output

[('Honda', 'Civic', 1, '2022'),
 ('Honda', 'CRX', 0, '2022'),
 ('Honda', 'Civic', 1, '2021'),
 ('Nissan', 'Altima', 1, '2022')]

In [72]:
cur.execute("INSERT OR REPLACE INTO cars VALUES('Honda', 'Civic', 0,'2022');")

In [73]:
cur.execute("SELECT * from cars")
output = cur.fetchall()
output

[('Honda', 'CRX', 0, '2022'),
 ('Honda', 'Civic', 1, '2021'),
 ('Nissan', 'Altima', 1, '2022'),
 ('Honda', 'Civic', 0, '2022')]

With the primary key, we're able to simply update the records

# EPC Data Analysis

Knowing the importance of primary keys, I will now examine how data is stored in the Chester Data Analytics SQLite3 database I have created. This database is based off of API requests for EPC data in the Chester area and I'm looking to optimise the ingestion of this data.

In [173]:
# 
cda = sqlite3.connect('./Chester-Data-Analytics/cda.db')

cda_cur = cda.cursor()

In [131]:
# How many records are in the EPC table?

cda_cur.execute("select count(uprn) from epc")

cda_cur.fetchall()

[(11522,)]

In [135]:
# How many records have a uprn?

cda_cur.execute("select count(uprn) as uprn_count from epc where length(uprn)>1")

cda_cur.fetchall()

[(10453,)]

In [103]:
10453/11522

0.9072209685818434

Around 91% of properties with an EPC certificate include a UPRN. In an ideal world, I'd like to use the UPRN wherever possible; However, with almost 10% of the data lacking one, it makes sense to identify other unqiue values to use together to make a primary key. But which ones?

In [136]:
# How many records are there with distinct a postcode and address combination?

cda_cur.execute("select count(postcode) from (select distinct postcode,address from epc)")

In [137]:
cda_cur.fetchall()

[(11522,)]

In [129]:
# What about the address1 field? Are there duplicate records with an address1 and postcode combination?

cda_cur.execute("select count(*) as appearances, address1, postcode from epc group by address1, postcode order by appearances desc limit 10")

In [130]:
cda_cur.fetchall()

[(10, 'Apartment 1', 'CH1 1RD'),
 (9, 'Apartment 2', 'CH1 1RD'),
 (9, 'Apartment 3', 'CH1 1RD'),
 (4, 'Apartment 4', 'CH1 1RD'),
 (4, 'Apartment 5', 'CH1 1RD'),
 (4, 'Commonhall Apartments', 'CH1 2BJ'),
 (4, 'Flat 1', 'CH1 3ND'),
 (4, 'Flat 1', 'CH1 4AD'),
 (4, 'Flat 2', 'CH1 2LU'),
 (4, 'Flat 2', 'CH1 4AD')]

In [127]:
cda_cur.execute("select address from epc where address1 = 'Apartment 1' and postcode = 'CH1 1RD'")

In [128]:
cda_cur.fetchall()

[('Apartment 1, 1 Heritage Court, Lower Bridge Street',),
 ('Apartment 1, 7 Heritage Court, Lower Bridge Street',),
 ('Apartment 1, 8 Heritage Court, Lower Bridge Street',),
 ('Apartment 1, 5 Heritage Court, Lower Bridge Street',),
 ('Apartment 1, 4 Heritage Court, Lower Bridge Street',),
 ('Apartment 1, 2 Heritage Court, Lower Bridge Street',),
 ('Apartment 1, 10 Heritage Court, Lower Bridge Street',),
 ('Apartment 1, 9 Heritage Court, Lower Bridge Street',),
 ('Apartment 1, 6 Heritage Court, Lower Bridge Street',),
 ('Apartment 1, 3 Heritage Court, Lower Bridge Street',)]

These are all unique properties based on the second line of the address field, so the address1 field should not be used in the primary key. Otherwise, all the EPC records appear to have no duplicate values based on an address/postcode field combination which makes these the best fields for a primary key.

In [167]:
# Import time module for further testing
import time
import json
import pandas
import base64
import requests
import datetime

In [183]:
path = './Chester-Data-Analytics/API Key.json'

url = 'https://epc.opendatacommunities.org/api/v1/domestic/search'  # URL endpoint for the EPC API


def get_key(path):
    """
    This is to retrieve a stored key and username combination to access the EPC API.
    These values are stored in a JSON file in a local directory and hidden by the .gitignore to avoid
    making these public. The key is then encoded as per the EPC documentation.
    :param path: Relative location of JSON file with epc username and key
    :return: key (Encoded)
    """
    with open(path) as f:
        api_key = json.loads(f.read())
    key = api_key['epc_key']
    username = api_key['epc_username']
    # Need to encode the username and key then strip off the extra bits
    encoded_api_key = str(base64.b64encode(bytes(username + ':' + key, 'utf-8')))[1:].replace('\'', "")
    return encoded_api_key

key = get_key(path)

In [207]:
postcode = 'CH1'
results = energy_bands = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
postcode_area = postcode.split(" ")[0]
results = []
for band in energy_bands:
    results_not_reached = True
    total_count = 0
    while results_not_reached:
        response = requests.get(url, params={'postcode': postcode, 'size': 5000, 'from': total_count,
                                                 'energy-band': band},
                                    headers={'Authorization': 'Basic %s' % key, "Accept": 'application/json'})
        if response.status_code == 200:
            results += response.json()['rows']
            count = len(response.json()['rows'])
        else:
            print(response.status_code) 
        if count < 5000:  # The idea here is that if the response gets to the last section, we end the loop
            results_not_reached = False
        total_count += count
results = pd.DataFrame(data=results, columns=response.json()['column-names'])

In [202]:
def get_postcode_epc_data(key, postcode, results):
    """" Returns a pandas dataframe containing all results for the given postcode.
    This can be written to a CSV file for later processing.
    Maximum size of GET response is 5000, therefore, this function breaks the query into multiple GET requests for
    each energy band
    :param key: Encoded secret key for the OS API
    :param postcode: Any UK Postcode or the first part (district portion)
    :return: Pandas Dataframe of EPC results
    """
    # Can only paginate through the first 10,000 results of any query. Need to use energy bands (or other parameter)
    # to break up the query.
    # Need to write these results to the database
    curr_time = datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')
    # Write to DB
    con = sqlite3.connect('./Chester-Data-Analytics/cda.db')
    cur = con.cursor()
    # Iterate through the results dataframe, adding each value
    for index, row in results.iterrows():
        cur.execute("INSERT INTO epc VALUES(?,?,?,?,?,?,?,?)", (row.address, row.address1, row.uprn,row['postcode'],
                                                                row['current-energy-rating'], row['total-floor-area'],
                                                                row['lodgement-datetime'], curr_time))
    # Is this redundant based on below code?
    cur.execute("""DELETE FROM epc where (address, lodgement_datetime) NOT IN (SELECT 
      epc.address, epc.lodgement_datetime
    FROM
      (SELECT
         address, MAX(lodgement_datetime) AS most_recent_epc
       FROM
         epc
       GROUP BY
         address) AS latest_record
    INNER JOIN
      epc
    ON
      epc.address = latest_record.address AND
      epc.lodgement_datetime = latest_record.most_recent_epc)""")
    # cur.execute("DROP TABLE epc")
    # Drop duplicate records based on the most recent query_date
    cur.execute("""DELETE FROM epc WHERE query_date < (SELECT max(query_date) FROM epc) AND address IN
                (SELECT address FROM epc GROUP BY address HAVING COUNT(*) >1)""")
    # Log the data in the data_log table
    # Create the postcode district value
    postcode_district = postcode.split(" ")[0]
    cur.execute("INSERT INTO data_log VALUES(?,?,?)",(postcode_district, 'epc', curr_time))
    con.commit()
    con.close()
    return

In [203]:
# This is using an old method than imports all values, then deletes duplicates
# Quickly run the test for getting the EPC data from a given postcode then record the time

start = time.perf_counter()
get_postcode_epc_data(key, 'CH2', results)
end = time.perf_counter()

original_time = end-start

In [174]:
# Create a second EPC table with a primary key

cda_cur.execute('''CREATE TABLE IF NOT EXISTS epckeys 
                    (address text, address1 text ,uprn text,postcode text, current_energy_rating text, 
                    total_floor_area real, lodgement_datetime text, query_date text, PRIMARY KEY (address, postcode)
                    )''')

In [189]:
# Re-write the function so that it 

def get_postcode_epc_data_improved(key, postcode, results):
    
    # Need to write these results to the database
    curr_time = datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')
    # Write to DB
    con = sqlite3.connect('./Chester-Data-Analytics/cda.db')
    cur = con.cursor()
    # Iterate through the results dataframe, adding each value
    for index, row in results.iterrows():
        cur.execute("INSERT OR REPLACE INTO epckeys VALUES(?,?,?,?,?,?,?,?)", (row.address, row.address1, row.uprn,row['postcode'],
                                                                row['current-energy-rating'], row['total-floor-area'],
                                                                row['lodgement-datetime'], curr_time))
    
    con.commit()
    con.close()
    return

In [208]:
# Check performance of the improved method

start = time.perf_counter()
get_postcode_epc_data_improved(key, 'CH2', results)
end = time.perf_counter()

updated_time = end-start

print(f"Original time: {original_time} seconds")

print(f"Updated time: {updated_time} seconds")

print(f"The improved method is {round(((original_time-updated_time)/updated_time)*100,2)}% faster than the original method")

Original time: 5.622889894999389 seconds
Updated time: 1.9475723020004807 seconds
The improved method is 188.71% faster than the original method

Using the primary key appears to make a very impressive reduction in time.

However, we still need to remove duplicate records and find all differences between the two methods.

In [233]:
# Check to verify that the same amount of values are in each table

cda_cur.execute("Select count(postcode) from epc")

print(cda_cur.fetchall())

cda_cur.execute("Select count(postcode) from epckeys")

print(cda_cur.fetchall())

[(22112,)]
[(22342,)]

In [240]:
cda_cur.execute("Select count(*) as num, address from epc group by address order by num desc limit 10")

print(cda_cur.fetchall())

[(1, 'Zoo Apartment 15-19 Newgate'), (1, 'Yew Tree House, Pool Lane, Thornton-le-Moors'), (1, 'YORK COTTAGE, 34 GARDEN LANE, CHESTER'), (1, 'Wylam, Ring Road, Backford'), (1, 'Wyedale, Liverpool Road, Moston'), (1, 'Woodvale, Marsh Lane, Elton'), (1, 'Woodstock, Little Rake Lane, Chorlton-By-Backford'), (1, 'Woodside Farm, Wervin Road, Wervin'), (1, 'Woodlea, Overwood Avenue, Mollington'), (1, 'Woodlands, Wervin Road, Wervin')]

In [241]:
cda_cur.execute("Select count(*) as num, address from epckeys group by address order by num desc, address desc limit 10")

print(cda_cur.fetchall())

[(2, 'Chapel View, Church Road, Saughall'), (2, '8 silvermuir'), (2, '2 Springfield Mews, West Street, Hoole'), (2, '1 Springfield Mews, West Street, Hoole'), (1, 'Zoo Apartment 15-19 Newgate'), (1, 'Yew Tree House, Pool Lane, Thornton-le-Moors'), (1, 'YORK COTTAGE, 34 GARDEN LANE, CHESTER'), (1, 'Wylam, Ring Road, Backford'), (1, 'Wyedale, Liverpool Road, Moston'), (1, 'Woodvale, Marsh Lane, Elton')]

In [243]:
cda_cur.execute("select * from epckeys where address = 'Chapel View, Church Road, Saughall'")

print(cda_cur.fetchall())

[('Chapel View, Church Road, Saughall', 'Chapel View', '100012568146', 'CH1 6EN', 'D', 126.0, '2014-01-29 15:24:23', '2022-06-20 21:53:20'), ('Chapel View, Church Road, Saughall', 'Chapel View', '100012568146', 'CH1 6EW', 'D', 129.92, '2012-03-28 07:32:57', '2022-06-20 21:53:20')]

In [ ]:
# There are four properties with duplicate EPC records

In [225]:
# This finds all instances where the lodgement date isn't the most recent. Can be deleted by replacing 'SELECT *' with DELETE.

cda_cur.execute("""SELECT * FROM epckeys where (address, lodgement_datetime) NOT IN (SELECT 
      epckeys.address, epckeys.lodgement_datetime
    FROM
      (SELECT
         address, MAX(lodgement_datetime) AS most_recent_epc
       FROM
         epckeys
       GROUP BY
         address) AS latest_record
    INNER JOIN
      epckeys
    ON
      epckeys.address = latest_record.address AND
      epckeys.lodgement_datetime = latest_record.most_recent_epc)""")

to_be_deleted = cda_cur.fetchall()

In [229]:
to_be_deleted

[('2 Springfield Mews, West Street, Hoole',
  '2 Springfield Mews',
  '10014509942',
  'CH2 3PU',
  'B',
  90.58,
  '2009-11-13 10:27:43',
  '2022-06-20 21:47:24'),
 ('1 Springfield Mews, West Street, Hoole',
  '1 Springfield Mews',
  '10014509941',
  'CH2 3PU',
  'B',
  90.58,
  '2009-11-13 10:47:42',
  '2022-06-20 21:47:24'),
 ('Chapel View, Church Road, Saughall',
  'Chapel View',
  '100012568146',
  'CH1 6EW',
  'D',
  129.92,
  '2012-03-28 07:32:57',
  '2022-06-20 21:53:20'),
 ('8 silvermuir',
  '8 silvermuir',
  '200000815514',
  'CH1 5LP',
  'F',
  54.0,
  '2021-01-19',
  '2022-06-20 21:53:20')]

Now to identify all the differences between the query results.

In [244]:
cda_cur.execute("""SELECT * FROM epckeys LEFT JOIN epc on epckeys.address = epc.address WHERE epc.address IS NULL""")

differences = cda_cur.fetchall()

In [247]:
differences

[('153 Hermitage Road, Saughall',
  '153 Hermitage Road',
  '100010014818',
  'CH1 6AG',
  'A',
  225.0,
  '2022-03-23 14:51:39',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('The Elms Farmhouse, Townfield Lane, Mollington',
  'The Elms Farmhouse',
  '100012351498',
  'CH1 6NJ',
  'A',
  186.0,
  '2022-02-16 12:33:51',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('Flat 13, Suffolk House, Egerton Street East',
  'Flat 13',
  '10014512302',
  'CH1 3BZ',
  'B',
  73.0,
  '2022-03-30 10:33:05',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('2, Croft Avenue, Backford',
  '2, Croft Avenue',
  '',
  'CH1 6PR',
  'B',
  127.0,
  '2022-03-30 20:06:51',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('2, Orchard Row, Backford',
  '2, Orchard Row',
  '',
  'CH1 6PX',
  'B',
  109.0,
  '2022-03-30 20:06:54',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('31, Old Meadow Drive, Backford',
  '31, Old Meadow Drive',
  '',
  'CH1 6PW',
  'B',
  109.0,
  '2022-03-30 20:06:55',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('9, Fallow Street, Backford',
  '9, Fallow Street',
  '',
  'CH1 6PS',
  'B',
  76.0,
  '2022-03-23 13:42:13',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('5, Fallow Street, Backford',
  '5, Fallow Street',
  '',
  'CH1 6PS',
  'B',
  76.0,
  '2022-03-23 13:45:12',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('7, Fallow Street, Backford',
  '7, Fallow Street',
  '',
  'CH1 6PS',
  'B',
  62.0,
  '2022-03-23 13:43:57',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('54 Homedee House, Garden Lane',
  '54 Homedee House',
  '100012348051',
  'CH1 4HD',
  'B',
  40.0,
  '2022-03-22 16:54:01',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('11 Shot Tower Close',
  '11 Shot Tower Close',
  '10012218386',
  'CH1 3BT',
  'B',
  68.0,
  '2022-03-08 05:51:47',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('29, Old Meadow Drive, Backford',
  '29, Old Meadow Drive',
  '',
  'CH1 6PW',
  'B',
  97.0,
  '2022-03-04 15:49:52',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('Apartment 7, The Quarter, Egerton Street',
  'Apartment 7',
  '10000082426',
  'CH1 3NB',
  'B',
  60.0,
  '2022-03-03 21:31:37',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('189 Saddlery Way',
  '189 Saddlery Way',
  '10035291318',
  'CH1 4LZ',
  'B',
  66.0,
  '2022-03-01 15:19:40',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('72 Black Diamond Park',
  '72 Black Diamond Park',
  '10035292050',
  'CH1 3EW',
  'B',
  54.0,
  '2022-02-18 13:12:57',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('Flat 36, Hopkinson Court, New Crane Street',
  'Flat 36',
  '10012218829',
  'CH1 4LE',
  'B',
  65.0,
  '2022-02-07 16:14:49',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('12 Meadow Way, Saughall',
  '12 Meadow Way',
  '10095484867',
  'CH1 6DJ',
  'B',
  176.0,
  '2022-02-04 15:51:27',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('187 Hermitage Road, Saughall',
  '187 Hermitage Road',
  '10095484851',
  'CH1 6AE',
  'B',
  100.0,
  '2022-02-04 15:51:17',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('185 Hermitage Road, Saughall',
  '185 Hermitage Road',
  '10095484850',
  'CH1 6AE',
  'B',
  100.0,
  '2022-02-04 15:51:15',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('4 Meadow Way, Saughall',
  '4 Meadow Way',
  '10095484865',
  'CH1 6DJ',
  'B',
  136.0,
  '2022-02-04 15:51:25',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('1 Meadow Way, Saughall',
  '1 Meadow Way',
  '',
  'CH1 6DJ',
  'B',
  176.0,
  '2022-02-04 15:51:19',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('6 Meadow Way, Saughall',
  '6 Meadow Way',
  '10095484864',
  'CH1 6DJ',
  'B',
  176.0,
  '2022-02-04 15:51:24',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('189 Hermitage Road, Saughall',
  '189 Hermitage Road',
  '10095484852',
  'CH1 6AE',
  'B',
  136.0,
  '2022-02-04 15:51:18',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('17 Meadow Way, Saughall',
  '17 Meadow Way',
  '10095484861',
  'CH1 6DJ',
  'B',
  136.0,
  '2022-02-04 15:51:23',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('7 Meadow Way',
  '7 Meadow Way',
  '10095484856',
  'CH1 6DJ',
  'B',
  136.0,
  '2022-02-04 15:51:22',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('2 Meadow Way, Saughall',
  '2 Meadow Way',
  '10095484866',
  'CH1 6DJ',
  'B',
  136.0,
  '2022-02-04 15:51:26',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('3 Meadow Way, Saughall',
  '3 Meadow Way',
  '',
  'CH1 6DJ',
  'B',
  129.0,
  '2022-02-04 15:51:21',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('18 Fallow Street, Backford',
  '18 Fallow Street',
  '10094683421',
  'CH1 6PS',
  'B',
  109.0,
  '2022-02-03 17:33:23',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('Flat 8, 18 Commonhall Street',
  'Flat 8',
  '10012217574',
  'CH1 2BJ',
  'B',
  67.0,
  '2022-01-20 08:22:04',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('Flat 9, Suffolk House, Egerton Street East',
  'Flat 9',
  '10014512298',
  'CH1 3BZ',
  'B',
  73.0,
  '2022-01-13 12:45:57',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('25 Saddlery Way',
  '25 Saddlery Way',
  '10035291154',
  'CH1 4LZ',
  'B',
  62.0,
  '2022-01-12 16:24:54',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('92 Saddlery Way',
  '92 Saddlery Way',
  '10035291221',
  'CH1 4LW',
  'B',
  58.0,
  '2022-01-09 11:33:29',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('27, Old Meadow Drive, Backford',
  '27, Old Meadow Drive',
  '10094683403',
  'CH1 6PW',
  'B',
  115.0,
  '2022-01-07 09:03:56',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('12 Homedee House, Garden Lane',
  '12 Homedee House',
  '100012348010',
  'CH1 4HD',
  'C',
  41.0,
  '2022-03-30 17:24:54',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('65 Black Diamond Park',
  '65 Black Diamond Park',
  '10035292043',
  'CH1 3EW',
  'C',
  55.0,
  '2022-03-25 13:53:35',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('74 The Ridings, Saughall',
  '74 The Ridings',
  '100010030918',
  'CH1 6AX',
  'C',
  100.0,
  '2022-03-24 14:16:52',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('37 Rakeway, Saughall',
  '37 Rakeway',
  '100010025415',
  'CH1 6AZ',
  'C',
  93.0,
  '2022-03-23 16:03:04',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('121 Black Diamond Park',
  '121 Black Diamond Park',
  '10035292099',
  'CH1 3EW',
  'C',
  58.0,
  '2022-03-23 17:31:48',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('244 Blacon Point Road, Blacon',
  '244 Blacon Point Road',
  '100010002849',
  'CH1 5NG',
  'C',
  60.0,
  '2022-03-22 13:37:47',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('26 Durham Road, Blacon',
  '26 Durham Road',
  '100010009619',
  'CH1 5BT',
  'C',
  98.0,
  '2022-03-21 13:48:28',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('48 Graham Road, Blacon',
  '48 Graham Road',
  '100010012500',
  'CH1 5LQ',
  'C',
  86.0,
  '2022-03-21 17:26:37',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('7 Lincoln House, The Square, Seller Street',
  '7 Lincoln House',
  '10012219349',
  'CH1 3AG',
  'C',
  124.0,
  '2022-03-20 11:58:44',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('Apartment 1, Bridgewater House, Upper Cambrian Road',
  'Apartment 1',
  '10093483130',
  'CH1 4FE',
  'C',
  57.0,
  '2022-03-20 18:39:53',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('Flat 1, 12 Mason Street',
  'Flat 1',
  '10035292663',
  'CH1 4DR',
  'C',
  60.0,
  '2022-03-20 14:48:01',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('3a Penmon Close, Blacon',
  '3a Penmon Close',
  '10035292232',
  'CH1 5SR',
  'C',
  82.0,
  '2022-03-18 13:59:37',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('48 Homedee House, Garden Lane',
  '48 Homedee House',
  '100012348045',
  'CH1 4HD',
  'C',
  35.0,
  '2022-03-18 17:15:48',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('26 St. Annes Flats, St. Anne Street',
  '26 St. Annes Flats',
  '200000826839',
  'CH1 3HY',
  'C',
  65.0,
  '2022-03-14 15:45:52',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('Apartment 116, The Quarter, Egerton Street',
  'Apartment 116',
  '10000082535',
  'CH1 3NR',
  'C',
  73.0,
  '2022-03-14 15:27:56',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('123 Plas Dinas, Blacon',
  '123 Plas Dinas',
  '200000814429',
  'CH1 5SW',
  'C',
  55.0,
  '2022-03-14 13:50:05',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('45 Homedee House, Garden Lane',
  '45 Homedee House',
  '100012348042',
  'CH1 4HD',
  'C',
  26.0,
  '2022-03-13 12:40:30',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('10e Heritage Court, Lower Bridge Street',
  '10e Heritage Court',
  '10093483976',
  'CH1 1RD',
  'C',
  108.0,
  '2022-03-12 16:26:33',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('17 Haydock Close',
  '17 Haydock Close',
  '200000815952',
  'CH1 4QB',
  'C',
  43.0,
  '2022-03-12 20:08:28',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('15 Brennus Place',
  '15 Brennus Place',
  '200000819965',
  'CH1 2NE',
  'C',
  78.0,
  '2022-03-12 16:48:47',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('62 Wharf View',
  '62 Wharf View',
  '10014510860',
  'CH1 4GW',
  'C',
  53.0,
  '2022-03-10 16:53:50',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('12 Sydney Road',
  '12 Sydney Road',
  '100010030019',
  'CH1 4BN',
  'C',
  80.0,
  '2022-03-05 15:00:10',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('63 Charlotte Court',
  '63 Charlotte Court',
  '200000820452',
  'CH1 3LP',
  'C',
  83.0,
  '2022-03-05 21:30:55',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('19 Western Avenue, Blacon',
  '19 Western Avenue',
  '100010033647',
  'CH1 5PR',
  'C',
  125.0,
  '2022-03-04 14:51:46',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('212 Saughall Road, Blacon',
  '212 Saughall Road',
  '100010026873',
  'CH1 5HT',
  'C',
  86.0,
  '2022-03-03 23:02:40',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('Apartment 5, Francesca Court, St. Olave Street',
  'Apartment 5',
  '200000990383',
  'CH1 1RJ',
  'C',
  58.0,
  '2022-03-02 14:42:11',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('Flat 2, 35 City Road',
  'Flat 2',
  '100010006642',
  'CH1 3AE',
  'C',
  53.0,
  '2022-03-02 15:05:02',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('28 Blacon Point Road, Blacon',
  '28 Blacon Point Road',
  '100010002665',
  'CH1 5LD',
  'C',
  39.0,
  '2022-03-02 10:26:13',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('24 Blacon Point Road, Blacon',
  '24 Blacon Point Road',
  '100010002661',
  'CH1 5LD',
  'C',
  39.0,
  '2022-03-02 10:34:01',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('30 Blacon Point Road, Blacon',
  '30 Blacon Point Road',
  '100010002667',
  'CH1 5LD',
  'C',
  39.0,
  '2022-03-02 10:18:30',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('9 Sens Close',
  '9 Sens Close',
  '200000819986',
  'CH1 2NF',
  'C',
  69.0,
  '2022-02-26 15:25:39',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('70 Cairns Crescent, Blacon',
  '70 Cairns Crescent',
  '100010004637',
  'CH1 5JF',
  'C',
  76.0,
  '2022-02-25 14:51:53',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('11 Walls Avenue',
  '11 Walls Avenue',
  '10012219736',
  'CH1 4JB',
  'C',
  62.0,
  '2022-02-25 14:39:44',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('111 Saddlery Way',
  '111 Saddlery Way',
  '10035291240',
  'CH1 4LZ',
  'C',
  69.0,
  '2022-02-24 09:10:55',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('116 Stamford Road, Blacon',
  '116 Stamford Road',
  '100010029039',
  'CH1 5DN',
  'C',
  71.0,
  '2022-02-24 18:07:40',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('5 Wellington Place',
  '5 Wellington Place',
  '200000820372',
  'CH1 3HJ',
  'C',
  81.0,
  '2022-02-23 09:54:40',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('23d Western Avenue, Blacon',
  '23d Western Avenue',
  '10014514469',
  'CH1 5PR',
  'C',
  72.0,
  '2022-02-22 12:32:14',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('31 Sedgefield Road',
  '31 Sedgefield Road',
  '200000816040',
  'CH1 4PT',
  'C',
  97.0,
  '2022-02-22 16:22:49',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('155 The Leadworks, Queens Road',
  '155 The Leadworks',
  '10000083355',
  'CH1 3BF',
  'C',
  86.0,
  '2022-02-22 16:39:34',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('Apartment 125, The Quarter, Egerton Street',
  'Apartment 125',
  '10000082544',
  'CH1 3NR',
  'C',
  55.0,
  '2022-02-21 13:59:30',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('6 Hafod Close, Blacon',
  '6 Hafod Close',
  '100010013336',
  'CH1 5ST',
  'C',
  40.0,
  '2022-02-21 13:29:19',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('4 Alderley Place, Blacon',
  '4 Alderley Place',
  '100010000445',
  'CH1 5EJ',
  'C',
  65.0,
  '2022-02-21 13:26:44',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('Flat 4 17 Grosvenor Street',
  'Flat 4 17 Grosvenor Street',
  '',
  'CH1 2DD',
  'C',
  21.0,
  '2022-02-20 10:31:11',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('23b Western Avenue, Blacon',
  '23b Western Avenue',
  '10014514467',
  'CH1 5PR',
  'C',
  72.0,
  '2022-02-18 11:18:05',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('23a Western Avenue, Blacon',
  '23a Western Avenue',
  '10014514465',
  'CH1 5PR',
  'C',
  72.0,
  '2022-02-18 11:05:41',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('18 Greenway, Saughall',
  '18 Greenway',
  '100010012941',
  'CH1 6EQ',
  'C',
  93.0,
  '2022-02-18 16:08:02',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('Apartment 120, The Quarter, Egerton Street',
  'Apartment 120',
  '10000082539',
  'CH1 3NR',
  'C',
  56.0,
  '2022-02-17 15:52:30',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('155a Blacon Point Road, Blacon',
  '155a Blacon Point Road',
  '10035292285',
  'CH1 5NQ',
  'C',
  95.0,
  '2022-02-16 16:05:53',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('11 Talbot Street',
  '11 Talbot Street',
  '100010030053',
  'CH1 3JN',
  'C',
  102.0,
  '2022-02-15 14:30:52',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('Flat 2 17 Grosvenor Street',
  'Flat 2 17 Grosvenor Street',
  '',
  'CH1 2DD',
  'C',
  21.0,
  '2022-02-15 23:29:03',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('Unit 1, 51 Bridge Street Row East, Bridge Street',
  'Unit 1',
  '',
  'CH1 1NW',
  'C',
  35.0,
  '2022-02-13 03:56:27',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('5 Chronicle House, Commonhall Street',
  '5 Chronicle House',
  '10091141982',
  'CH1 2AB',
  'C',
  18.0,
  '2022-02-11 12:14:34',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('Apartment 137, The Quarter, Egerton Street',
  'Apartment 137',
  '10000082556',
  'CH1 3NR',
  'C',
  46.0,
  '2022-02-11 15:03:08',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('15 Treborth Road, Blacon',
  '15 Treborth Road',
  '100010031484',
  'CH1 5RD',
  'C',
  71.0,
  '2022-02-11 14:18:30',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('43 Black Diamond Park',
  '43 Black Diamond Park',
  '10035292021',
  'CH1 3ET',
  'C',
  54.0,
  '2022-02-11 14:11:30',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('63 Nant Peris, Blacon',
  '63 Nant Peris',
  '10035290797',
  'CH1 5RN',
  'C',
  48.0,
  '2022-02-10 14:18:34',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('68c Stratford Road, Blacon',
  '68c Stratford Road',
  '10035291870',
  'CH1 5NZ',
  'C',
  74.0,
  '2022-02-08 13:46:10',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('11 Saddlery Way',
  '11 Saddlery Way',
  '10035291140',
  'CH1 4LZ',
  'C',
  46.0,
  '2022-02-02 16:24:47',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('40 Gloucester Street',
  '40 Gloucester Street',
  '100010012309',
  'CH1 3HR',
  'C',
  57.0,
  '2022-02-02 14:27:21',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('27 Gladstone Road',
  '27 Gladstone Road',
  '100010012101',
  'CH1 4BZ',
  'C',
  121.0,
  '2022-02-01 16:53:53',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 ('3 Black Diamond Park',
  '3 Black Diamond Park',
  '10035291983',
  'CH1 3ET',
  'C',
  70.0,
  '2022-02-01 13:03:25',
  '2022-06-20 21:53:20',
  None,
  None,
  None,
  None,
  None,
  None,

In [230]:
cda_cur.execute("""SELECT * FROM epckeys WHERE query_date < (SELECT max(query_date) FROM epckeys) AND address IN
                (SELECT address FROM epckeys GROUP BY address HAVING COUNT(*) >1)""")

more_deleted = cda_cur.fetchall()

In [231]:
more_deleted

[('1 Springfield Mews, West Street, Hoole',
  '1 Springfield Mews',
  '10014509941',
  'CH2 3PU',
  'B',
  90.58,
  '2009-11-13 10:47:42',
  '2022-06-20 21:47:24'),
 ('1 Springfield Mews, West Street, Hoole',
  '1 Springfield Mews',
  '10014509941',
  'CH2 3QX',
  'C',
  92.0,
  '2021-09-02 17:06:04',
  '2022-06-20 21:47:24'),
 ('2 Springfield Mews, West Street, Hoole',
  '2 Springfield Mews',
  '10014509942',
  'CH2 3PU',
  'B',
  90.58,
  '2009-11-13 10:27:43',
  '2022-06-20 21:47:24'),
 ('2 Springfield Mews, West Street, Hoole',
  '2 Springfield Mews',
  '10014509942',
  'CH2 3QX',
  'C',
  88.0,
  '2021-12-16 16:12:09',
  '2022-06-20 21:47:24')]

In [232]:
len(more_deleted)

4

In [216]:
cda_cur.execute("with (select * inner join) as joined,  select address, postcode where")

In [217]:
print(len(cda_cur.fetchall()))

22342